@import '../../variables';

.hero {
  align-items: center;
  background-image: url('../../assets/images/hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  height: 680px;
  justify-content: center;
  margin-top: 50px;
  &__text {
    color: $yellow;
    font-family: 'Playfair Display SC';
    font-size: 3.5rem;
    font-style: italic;
    z-index: 1;
    &--shadow {
      color: rgba(0, 0, 0, 0.4);
      position: absolute;
      transform: translateX(2px) translateY(-1px);
      z-index: 0;
    }
  }
}
