@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/avenir_light.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/avenir_heavy.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/avenir_light_oblique.otf");
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/avenir_light_oblique.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/avenir_heavy_oblique.otf");
  font-weight: 600;
  font-style: oblique;
}

@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/avenir_heavy_oblique.otf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "PlayfairDisplay SC";
  src: url("./assets/fonts/PlayfairDisplaySC-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay SC";
  src: url("./assets/fonts/PlayfairDisplaySC-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PlayfairDisplay SC";
  src: url("./assets/fonts/PlayfairDisplaySC-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay SC";
  src: url("./assets/fonts/PlayfairDisplaySC-BoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "PlayfairDisplay SC Black";
  src: url("./assets/fonts/PlayfairDisplaySC-Black.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay SC Black";
  src: url("./assets/fonts/PlayfairDisplaySC-BlackItalic.ttf");
  font-weight: 400;
  font-style: italic;
}
