@import './fonts';
@import './variables';

a {
  color: inherit;
  text-decoration: none;
  transition: $transition-duration;
  &:hover {
    color: $yellow;
  }
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  width: 1200px;
}

.page {
  background: #f0f0f0;
  color: $font-color;
  font-family: Avenir, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
}
